.dsection-blue{
    background: #33A5F7;
    height: 250px;
    width: 100%;
    border-top-right-radius: 220px;
    border-bottom-right-radius:220px;
    display: flex;
    justify-content: flex-end;
}
.dsection-blue-der{
    background: #33A5F7;
    height: 250px;
    width: 100%;
    border-top-left-radius: 220px;
    border-bottom-left-radius:220px;
    display: flex;
    justify-content: flex-start;
}
.dsection-cont-blue{
    width: 40%;
    height: 350px;
    display: flex;
    align-items: flex-end;
}
.dsection-img{
    height: 250px;
    margin-top: -60px;
    margin-right: 35px;
}
.dsection-img-der{
    height: 250px;
    margin-top: -60px;
    margin-left: 60px;
}
.dsection-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:100px;
    flex-wrap: wrap;

}
.dsection-cont-der{
    margin-top:100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;

}
.dsection-text{
    font-size: 17px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}
.dsection-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 350px;
}
.dsection-cont-text{
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dsection-cont-text-der{
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dsection-text-holder{
    margin-top: 50px;
    margin-left: 120px;
}
.dsection-text-holder-der{
    margin-top: 50px;
    margin-right: 120px;
}


.fade-in-image-left {
    animation: fadeInLeft 2s;
}
@keyframes fadeInLeft {
    0% {opacity:0;}
    100% {opacity:1;}
}




@keyframes fadeInleft {
    from {
        transform: translate3d(-40px,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeInright {
    from {
        transform: translate3d(40px,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated-left {
    animation-duration:2s;
    animation-fill-mode: both;
}

.fadeInLeft {
    opacity: 0;
    animation-name: fadeInleft;
}
.fadeInRight {
    opacity: 0;
    animation-name: fadeInright;
}

@media screen and (max-width: 944px) {

    .dsection-cont-blue{
        width: 70%;
    }

    .dsection-cont{
        margin-top: 30px;
    }
    .dsection-cont-text-der{
        width: 100vw;
        align-items: center;
    }
    .dsection-cont-text{
        width: 100vw;
        align-items: center;

    }
    .dsection-text-holder-der{
        margin-right: 0px;
        width: fit-content;
    }
    .dsection-text-holder{
        margin-left: 0px;
        width: fit-content;
    }
    .dsection-cont{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .dsection-cont{
        flex-wrap: wrap;
    }
    .dsection-text-holder{
        margin-left: 0px;
        width: 296px;
        margin-top: 0px;
    }
    .dsection-cont-text{
        min-width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;
    }
    .dsection-text-holder-der{
        margin-right: 0px;
        width: max-content;
        max-width: 296px;
        margin-top: 0px;
    }
    .dsection-cont-text-der{
        min-width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        height: 260px;
    }
    .dsection-title{
        font-size: 26px;
    }
    .dsection-cont-blue{
        width: 90%;
    }
    .dsection-img{
        margin-right: 10px;
        height: 240px;
    }
    .dsection-cont{
        margin-top: 30px;
    }
}
@media screen and (min-width:945px) and (max-width: 1024px) {
    .dsection-cont-blue{
        width: 50%;
    }
}