.contact-cont-page{
    min-height: 100vh;
    background: var(--background-grey);
    display: flex;
    flex-direction: row;
    border-top-width: 15px;
    border-top-color: var(--primary);
    border-top-style: solid;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.contact-cont-text{
    flex: 0.5;
    margin-left: 8%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: inherit;
    margin-top: 5%;
}
.contact-text-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px
}
.contact-title-cont{
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}
.contact-text-text{
    font-size: 16px;
    color: var(--primary);
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact-cont-form{
    flex:0.5 ;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}
.contact-input-text{
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 600;
    color: var(--text-input-grey);
}
.contact-cont-input{
    margin-top: 25px;
}
.contact-input-input{
    width:90%;
    border-style: none;
    height: 35px;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}
.contact-input-suffix{
    width:80% !important;
}
.suffix{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-grey2);
}
.contact-budget{
    display: flex;
    flex-direction: row;
}
.error{
    border: 3px solid var(--red) !important;
}
.contact-input-input::placeholder{
    font-family: 'Poppins', sans-serif !important;
    color: var(--text-placeholder-grey);
    font-weight: 600;  
}
.contact-input-input:focus{
    border-style: none;
    outline: none;
}
.contact-input-textarea{
    width:90%;
    border-style: none;
    height: 35px;
    min-height: 150px;
    max-height: 150px;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}
.contact-input-textarea::placeholder{
    font-family: 'Poppins', sans-serif !important;
    color: var(--text-placeholder-grey);
    font-weight: 600;  
}
.contact-input-textarea:focus{
    outline: none;
}
.contact-input-submit{
    font-family: 'Poppins', sans-serif !important;
    width: calc(90% + 20px);
    height: 45px;
    background-color: var(--primary);
    border: none;
    font-weight: 600;
    margin-top: 7px;
    color: var(--white);
    cursor: pointer;
}
.contact-input-submit:hover{
    background-color: var(--primary-hover);
}

.notvisible{
    display: none;
}
.visible{
    display: block;
}
.error-text{
    margin-top: 7px;
    margin-bottom: 0px;
    color: var(--red);
}

@media screen and (max-width: 600px) {
    .contact-cont-text{
        max-width: 100vw;
        min-width: max-content;
        min-height: max-content;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
    }
    .contact-text-title{
        font-size: 38px;
    }
    .contact-cont-page{
        justify-content: center;
    }
    .contact-input-input{
        width: 75vw;
    }
}
