.about-cont-page{
    background: #EFEFEF;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    min-height: 100vh;
}
.about-cont-text{
    flex: 0.45;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-cont-content{
    flex: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-content-item{
    height: 265px;
    width: 260px;
    min-width: 260px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 25px rgba(201, 201, 201, 0.562);
    cursor:default;
}
.about-content-holder{
    width: 204px;
}
.hidden{
    display: none;
}
.about-item-img{
    height: 72px;
    object-fit: contain;
}
.about-item-title{
    color: #444444;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20;
}
.about-item-text{
    color: #33A5F7;
    max-width: 180px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
}
.about-content-item:hover{

    box-shadow: 5px 5px 25px rgba(136, 136, 136, 0.589)
}
.about-content-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right:50px;
}
.page-section-text{
    color: #33A5F7;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 3px;
}
.about-text{
    color: #444444;
    font-size: 40px;
    margin-top:-10px;
    margin-bottom: 5px;
    font-weight: 600;
}
.about-cont-text-holder{
    margin-top: calc(100vh - 90vh);
}

.fade-in-image {
    animation: fadeIn 4s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration:3s;
    animation-fill-mode: both;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}


@media screen and (max-width: 900px) {
    .about-cont-page{
        padding-top: 50px;
        justify-content: center;
        padding-bottom: 50px;
    }

    .about-text{
        font-size: 38px;
    }
    .about-cont-text{
        flex: 0.8;
        min-width: 100vw;
    }
    .about-cont-content{
        min-width: 100vw;
    }
    .about-content-row{
        margin-right: 0px;
    }
    .about-content-row{
        flex-wrap: wrap;
    }

    .about-cont-text-holder{
        margin: 50px 40px 30px 40px;
    }
    
}

@media screen and (max-width: 600px) {
    .about-cont-page{
        padding-top: 50px;
        justify-content: center;
        padding-bottom: 50px;
    }
    .about-content-row{
        flex-wrap: wrap;
    }
    .about-text{
        font-size: 32px;
    }
    .about-cont-text{
        flex: 0.8;
        min-width: 100vw;
    }
    .about-content-row{
        margin-right: 0px;
    }
    .about-content-item{
        margin-top: 50px;
    }
    .about-cont-text-holder{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .about-content-item{
        width: 300px;
        height:280px;
    }
}
@media screen and (min-width:600px) and (max-width: 1098px) {
    .about-cont-page{
        flex-direction: column;
    }
    .about-content-item{
        margin-top: 50px;
    }
    .about-content-row {
        width: 70vw;
    }
    .about-cont-content{
        display: flex;
        align-items: center;
    }
    .about-cont-page{
        padding-bottom: 100px;
    }
    .about-cont-text-holder{
        margin-bottom: 70px;
    }

}

