.trust-cont{
    width: 100%;
    color: white;
    position: relative;
}
.trust-logo{
    height: 80px;
    object-fit: contain;
    opacity: 0.3;
}

.trust-slider{
    margin-top: 20px;
    margin-bottom: 100px;
}
.noToucheable{
    width: 100%;
    z-index: 100;
    position: absolute;
    height: 100px;
}

@media screen and (max-width: 1070px) {
    .trust-cont{
        margin-top: 80px;
    }
}